<!-- profile.component.html -->
<!-- profile.component.html -->

<div *ngIf="user">
  <head>
    <title>Landing Page</title>
  </head>
  <body>
    <header id="showcase">
    <h1>Welcome to  </h1> <h1 class="navbar-brand" href="#"> <span class="text-warning">Build</span>Con</h1> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button><h1>{{ user.firstname }}&nbsp;{{ user.lastname }}</h1>
    </header>
   
    <section class="vh-100" style="background-color: #344f7c; margin-top: -100px;">
      <!-- Rest of your section content -->
      <div class="container py-3 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-md-9 col-lg-7 col-xl-5">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-4">
                <div class="d-flex text-black">
                  <div class="flex-shrink-0">
                    <img src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png"
                      alt="Generic placeholder image" class="img-fluid"
                      style="width: 180px; border-radius: 10px;">
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <h5 class="mb-1">{{ user.firstname }} {{ user.lastname }} </h5>
                    <p class="mb-2 pb-1" style="color: #2b2a2a;">{{ user.email }}</p>
                    <p class="mb-2 pb-1" style="color: #2b2a2a;">{{ user.phoneNumber }}</p>
                    <div class="d-flex justify-content-start rounded-3 p-2"
                      style="background-color: #efefef;">
                    </div>
                    <div class="d-flex pt-1">
                      <button type="button" class="btn btn-outline-primary me-1 flex-grow-1" [routerLink]="['/liste']"> Show real estate</button>
                      <button type="button" class="btn btn-primary flex-grow-1"[routerLink]="['/immobil']">
                        Add real estate</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</div>

<div *ngIf="!user">
  
  <body>
    <header id="showcase">
      <h1>Welcome to  </h1> <h1 class="navbar-brand" href="#"> <span class="text-warning">Build</span>Con</h1> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
    </header>
    <section class="vh-100" style="background-color: #344f7c; ">
    <div  id="content" class="container">
      <br><br>
      <p>Please sign in or sign up to access more features.</p>
      <br><br>
      <div class="cta-buttons">
        <a href="/login" class="cta-button">Sign In</a> &nbsp;<a>OR</a>&nbsp;
        <a href="/register" class="cta-button">Sign Up</a>
        
      </div>
      
    </div>
   </section>
  </body>
</div>
